.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
}

.formContainer{
    border: 1px solid silver;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding: 50px;
    margin: 50px;
    background-color: #fff;
}

.header{
    color: rgb(0, 102, 255);
    text-align: left;
    font-size: 1.8rem;
    margin-bottom: 40px;
}

.formField{
    display: flex;
    flex-direction: column;
    height: 100px;

}

form label{
    text-align: left;
    margin-bottom: 5px;
    color: rgb(59, 59, 59);
}

.formInput{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid silver;
    transition: all 0.2s ease-in;
}

.unCompleted{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid red;
    transition: all 0.2s ease-in;
}

.formInput:focus ,
.unCompleted:focus{
    outline: none;
    border: 1px solid rgb(189, 189, 252);
}



.formField span{
    text-align: left;
    color: red;
    background-color: rgba(255, 0, 0, 0.288);
    height: 15px;
    width: fit-content;
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 0.7rem;
    margin-top: 5px;
}

.formButtons button{
    color:white;
    background-color: #1a73e8;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 0.8rem;
    transition: all 0.3s ease-in;
}

.formButtons button:hover{
    background-color: #074da8;
}

.formButtons{
    display: flex;
    justify-content: space-between;
}

.formButtons a{
    color: #1a73e8;
    text-decoration: none;
    font-weight: 800;
    transition: all 0.3s ease-in;
}

.formButtons a:hover{
    color: #074da8;
}

.checkboxContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    height: 20px;
}

input[type="checkbox"]{
    border: 1px solid #1a73e8;
    margin-left: 20px;
    width: 18px;
    height: 18px;
    appearance: none;
    border-radius: 5px;
    transition: all 0.3s ease-in;
}

input[type="checkbox"]:checked{
    background-color:#1a73e8;
    margin-left: 20px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.formField:nth-child(6) label{
    color: #1a73e8;
}

@media (max-width: 440px){
    .formContainer{
        padding: 20px;
        margin: 50px 20px;
    }

    .formContainer{
        width: 90%;
    }

    .formInput{
        width: 90%;
    }

    .unCompleted{
        width: 90%;
    }
}